#B1{
background-color:orange;     
width:49%;
height:400px;
display: inline-block;
margin-top: 1%;
}
#B2{
background-color:rgb(51, 255, 0);  
width:49%;   
height:400px;
margin-top: 1%;
float:right;
}

#B3{
background-color:yellow;
width:100%;
height:400px;
margin-top: 2%;     
}

#B4{
background-color: blue;
width:33.3%;
height:400px;
margin-top:2%;
display: inline-block; 
}

#B5{
background-color: blue;
width:33.3%;
height:400px;
margin-top:2%;
display: inline-block;
}

#B6{
background-color: blue;
width:33%;
height:400px;
margin-top:2%;
display: inline-block;
float: right; 
}

#B7{
background-color:gray;
width:19%;
height:300px;
margin-top:50px;
display: inline-block;
}

#B8{
background-color:gray;
width:19%;
height:300px;
display: inline-block; 
}

#B9{
background-color:gray;
width:19%;
height:300px;
display: inline-block; 
}

#B10{
background-color:gray;
width:19%;
height:300px;
display: inline-block;    
}

#B11{
background-color:gray;
width:19%;
height:300px;
display: inline-block;     
}