#h{
position: relative;
width:100%;
height:150px;
background-color: rgb(99, 99, 99);
border-radius: 0 0 30px 30px;
bottom: 55px;
}

#hh2 h2{
position: relative;
left:60px;
font-size: 60px;
text-decoration: underline;
}

#m{
position: relative;
width: 100%;
height: 600px;
background-color: rgb(190, 190, 190);
bottom:115px;
border-radius: 50px;
}

#mh1{
position: relative;
bottom: 0px;
left: 250px;
font-size: 60px;
text-decoration: underline;
}

#mh3{
position: relative;
bottom: 110px;
left: 290px;
font-size: 51px;
width: 1400px;
}

#adaptirovat{
position: relative;
left: 230px;
height: 140px;
width: 720px;
bottom: 100px;
background-color: rgb(41, 124, 219);
border-top-left-radius: 5em 1.5em;
border-top-right-radius: 5em 1.5em;
border-bottom-left-radius: 5em 1.5em;
border-bottom-right-radius: 5em 1.5em;

}

#ah3{
position: relative;
left: 22px;
top:14px;
font-size: 70px;
color: white;
}

#f{
position: relative;
width:100%;
height:150px;
border-radius: 30px 30px 0 0;
background-color: rgb(0, 0, 0);
bottom:155px;
}

#fh3{
position: relative;
left: 190px;
font-size: 63px;
top: 38px;
color: white;
}

@media screen and (min-width: 3700px) {

#m{
position: relative;
width: 90%;
height: 600px;
background-color: rgb(190, 190, 190);
bottom:115px;
border-radius: 50px;
left:5%;
}

#image{
position: relative;
width: 100%;
height: 106px;
bottom: 90px;
background-color: rgba(0, 0, 0, 0);
}
    
#l{
position: relative;
background-image:url(./left.png);
background-color: rgba(220, 20, 60, 0);
background-size: 118px; 
width: 120px;
height: 112px;
left: 1.85%;
bottom: 4.9px;
}
    
#r{
position: relative;
background-image:url(./right.png);
background-color: rgba(220, 20, 60, 0);
background-size: 104px; 
width: 104px;
height: 104px;
left: 95%;
bottom:112px;
}

#f{
position: block;
width:100%;
height:150px;
border-radius: 30px 30px 0 0;
background-color: rgb(0, 0, 0);
top:678px;
}

#fh3{
font-size: 63px;
left: 190px;
}
}